.banner{
    margin: 0px;
    background: no-repeat center/100% url("../images/banner.png"), linear-gradient(to top,hsla(0, 0%, 0%, 0.6),hsla(198, 72%, 53%, 0.164),hsla(198, 72%, 53%, 0.226),#00000099);
    align-items: center;
    text-align: center;
    vertical-align: middle;
}    
.banner-content{
    margin: auto;
    width: 40%;
    align-self: center;
    
}
.logo img{
    min-width: 20%;
    max-width: 40%;
}
body{
    font-size: 1em;
}
#course-content .modules-list .module {
    color: white;
    width: 60%;
    margin: 0 auto 1em;
    border: 1px solid var(--azul-dio);
    background-color: var(--gray-dio);
    padding: 1em;
    border-radius: 100px;
}
#course-content span{
    color: var(--azul-dio);
}

header,main,section,footer{
    border-bottom:1px solid var(--azul-dio);
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0%;
}
#transform-world{
    background: url(../images/woman-code.png);
    height: 560px;
    background-size:cover;
    vertical-align: middle;
    padding: 300px;
}
#transform-world p{
    margin: auto;
    padding: auto;
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    max-width: 250px;
}
footer{
    padding-top: 2rem;
    background:linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
}
footer a{
    text-decoration: none;
    color: var(--azul-dio);
}