body{
    background: linear-gradient(to top,hsl(0, 0%, 0%),hsl(0, 0%, 0%),hsl(196, 90%, 4%),hsl(0, 0%, 0%));
    color: white;
    align-items: center;
    text-align: center;
    display: grid;
    margin: 0%;
    width: 100vw;
}
body{
    --azul-dio:hsl(198, 70%, 53%);
    --gray-dio: rgba(29, 28, 28, 0.815);
}
h1,h2{
    text-transform: uppercase;
    color: var(--azul-dio);
    font-size: size 2.5em;
    margin-bottom: 0px;
}
img{
    max-width: 100%;
}
button{
    color: var(--azul-dio);
    border-color: var(--azul-dio);
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0);
}